@use 'variables' as *;
@use 'sass:string';
@use 'sass:color';

@function rem($px) {
	@return #{$px / 16}rem;
}

@function twcolor($color) {
	@return unquote('#{red($color)} #{green($color)} #{blue($color)}');
}

@function compcolor($color) {
	// Check if the color is valid
	@if type-of($color) != 'color' {
		@error "Invalid color: #{$color}. Please provide a valid color.";
	}

	// Extract the hue, saturation, and lightness
	$hue: hue($color);
	$saturation: saturation($color);
	$lightness: lightness($color);

	// Calculate the complementary hue
	$complementary-hue: ($hue + 180) % 360;

	// Return the complementary color in HSL
	@return hsl($complementary-hue, $saturation, $lightness);
}
