@use '../global' as *;

.desktop {
	display: none;
}
.mobile {
	display: block;
}

@include respond-to-general(sm) {
	.notebookholder {
		.ssm {
			display: none;
		}
		.sm {
			display: block;
		}
	}
}

@include respond-to-general(md) {
	.notebookholder {
		.sm {
			display: none;
		}
		.md {
			display: block;
		}
	}
}

@include respond-to-general(lg) {
	.notebookholder {
		.md {
			display: none;
		}
		.lg {
			display: block;
		}
	}
}

@include respond-to-general(xl) {
	.notebookholder {
		.lg {
			display: none;
		}
		.xl {
			display: block;
		}
	}
}

@include respond-to(sm) {
	nav {
		height: 6rem;
		ul {
			.baoanhbui {
				justify-content: space-between;
				.baoanh {
					span {
						width: 0.5rem;
					}
				}
				.bui {
					display: block;
				}
			}
		}
	}
	.top-padding {
		font-size: 6rem /* 96px */;
		line-height: 1;
		height: 6rem /* 96px */;
	}
	.long-description {
		min-width: 13rem;
	}
	.realheight {
		padding-left: 2rem /* 32px */;
		padding-right: 2rem /* 32px */;
	}
	.storysection {
		padding-left: 2rem /* 32px */;
		padding-right: 2rem /* 32px */;
		.bg-layer {
			margin: unset;
			width: 10rem;

			.imgwrapper,
			h3,
			.short_description {
				display: block;
			}
			.mobile_des {
				display: none;
			}

			.imgwrapper img {
				height: 6rem;
				object-fit: cover;
			}
		}
	}
	.single-work-head {
		margin-top: 0;
		margin-bottom: 1rem;
		align-items: flex-start;
		gap: 2rem /* 32px */;
		flex-direction: row;
		h1 {
			text-align: left;
		}
		.timeframe {
			text-align: right;
		}
	}
	.single-work-body {
		flex-direction: row;
	}
	.isWork {
		.footer {
			padding-bottom: 2rem;
			padding-top: 10rem;
			width: 50%;
			button {
				transform: translateX(50%);
			}
		}
	}
	.homegrid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
}

@include respond-to-copy(md) {
	.the-content .wp-block-image.vertical {
		width: fit-content;
	}
}

@include respond-to(md) {
	.single-work-body {
		.the-content {
			justify-items: start;
			.wp-block-embed .wp-block-embed__wrapper > div {
				margin: 0;
			}
			.span2md {
				grid-column: span 2;
			}
			.span2,
			.span3 {
				grid-column: span 2;
			}
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}
	.homegrid {
		li {
			.imgwrapper {
				height: 20rem;
			}
		}
	}
	.story {
		.storygrid {
			column-gap: 2rem;
		}
	}
	.homelist {
		.timeframe {
			width: 8.6rem;
			* {
				display: inline;
			}
			.responsive {
				display: none;
			}
		}
	}
}

@include respond-to(lg) {
	.homegrid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.story {
		.storygrid {
			column-gap: 4rem;
		}
	}
}

@include respond-to(xl) {
	.single-work-body {
		.the-content {
			.span2md {
				grid-column: span 1;
			}
			.span12 {
				grid-column: span 2;
			}
			.span3,
			.span13 {
				grid-column: span 3;
			}
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
}
