@use '../global' as *;

.desktop {
	display: none;
}
.mobile {
	display: block;
}

@include respond-to(sm) {
	nav {
		height: 6rem;
		ul {
			.baoanhbui {
				justify-content: space-between;
				.baoanh {
					span {
						width: 0.5rem;
					}
				}
				.bui {
					display: block;
				}
			}
		}
	}
	.top-padding {
		font-size: 6rem /* 96px */;
		line-height: 1;
		height: 6rem /* 96px */;
	}
	.single-work-head {
		margin-top: 0;
		margin-bottom: 1rem;
		align-items: flex-start;
		gap: 2rem /* 32px */;
		flex-direction: row;
		h1 {
			text-align: left;
		}
		.timeframe {
			text-align: right;
		}
	}
	.single-work-body {
		flex-direction: row;
	}
}

@include respond-to(md) {
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
	.homegrid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@include respond-to(lg) {
	.single-work-body {
		.the-content {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}
}

@include respond-to(xl) {
	.single-work-body {
		.the-content {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
}
