@use '../global' as *;

.the-content {
	a::after {
		content: ' \2197\FE0E';
	}
	.wp-block-embed {
		iframe {
			aspect-ratio: var(--width) / var(--height);
			width: 100%;
			height: 100%;
		}
		img {
			cursor: pointer;
			object-fit: cover;
			position: absolute;
			left: 0;
			top: 0;
			aspect-ratio: var(--width) / var(--height);
			width: 100%;
			height: 100%;
		}
	}
}
