@use '../global' as *;

.the-content {
	justify-items: center;
	.row2 {
		grid-row: span 2;
	}
	.span12,
	.span2,
	.span13,
	.span3 {
		grid-column: span 1;
	}
	a {
		word-break: break-word;
		&::after {
			content: ' \2197\FE0E';
		}
	}
	iframe,
	img {
		cursor: pointer;
		object-fit: cover;
		width: 100% !important;
		height: 100% !important;
	}
	figcaption {
		margin-top: 0.5rem;
	}
	.wp-block-list {
		list-style-type: '* ';
		list-style-position: inside;
	}
	.wp-block-image {
		max-height: 80svh;
		max-width: 100%;
		aspect-ratio: var(--width) / var(--height);
		width: 100%;
	}
	figure {
		display: flex;
		flex-direction: column;
	}
	.wp-block-embed {
		height: fit-content;
		.wp-block-embed__wrapper > div {
			aspect-ratio: var(--width) / var(--height);
			max-height: 80svh;
			margin: 0 auto;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}
	}
}

#copy .the-content {
	.wp-block-image {
		width: 100%;
		&.vertical {
			width: auto;
			height: 100svh;
		}
	}
}
