@use '../global' as *;

.the-content {
	justify-items: center;
	a::after {
		content: ' \2197\FE0E';
	}
	iframe,
	img {
		cursor: pointer;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.wp-block-image {
		max-height: 80svh;
		max-width: 100%;
		aspect-ratio: var(--width) / var(--height);
		width: auto;
	}
	.wp-block-embed {
		width: fit-content;
		height: fit-content;
		.wp-block-embed__wrapper > div {
			aspect-ratio: var(--width) / var(--height);
			max-height: 80svh;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

#copy .the-content {
	.wp-block-image {
		width: 100%;
		&.vertical {
			width: auto;
			height: 100svh;
		}
	}
}
