@use '../global' as *;

.story {
	.imgwrapper {
		height: 16rem;
		max-height: 30svh;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}
.storysection {
	z-index: 2;
	left: var(--scrlbrwd);
	width: calc(100% - 2 * var(--scrlbrwd));
}
